.container
  #name_page
    Minha conta
  #form
    %p#notice= notice
    = form_tag 'login_client' do
      %p
        %label{:for => 'email'} E-mail:
        %input#email{:name => 'email', :type => 'text'}/
      %p
        %label{:for => 'password'} Senha:
        %input#password{:name => 'password', :type => 'password'}/
      %p
        %input{:type => 'submit', :value => 'Entrar', class: 'submit'}/
      %p
        = link_to 'Cadastre-se', '/register'