.container
  #name_page
    Mais vendidos
  #menu_left
    .title
      Empresas
    %h3
      = render partial: 'enterprises', collection: @enterprises
    = render "menu2"
  #center_style
    #mini_shoes
      = render partial: 'mini_shoe', collection: @all_bestsellers
  #end