!!!
%html
  %head
    %title Home page - Footwear
  %body    
    %h1 All Shoes
    %ul#mini_shoes
      %center 
      .field
      %ul
      = render :partial=>"mini_shoe", :collection=>@shoes   


    %h2 Admin
    %a{:href => "login"} Admins
    %br/
    %h2 Users
    %a{:href => "login_user"} Enterprises
    %br/
    %a{:href => "login_client"} Clients
    %br/
    %a{:href => "/enterprises/new"} Enterprises
    %br/
    %a{:href => "/clients/new"} Clients
    %br/