#content
  #menu_left
    %h2
      %li Empresas
    - for enterprise in @enterprises
      %li
        = link_to enterprise.name, "/enterprise/#{enterprise.id}"
  %h1 Produtos cadastrados
  #content1
    #mini_shoes
      = render partial: 'mini_shoe', collection: @shoes
#end
%hr
%a{href: 'login'} Administrador