!!!
%html
  %head
    %title Home page - Footwear
  %body
    %h1 INDEX
    %h2 Admin
    %a{:href => "login"} Admins
    %br/
    / %a{:href => "/enterprises"} Enterprises
    / %br/
    / %a{:href => "/clients"} Clients
    / %br/
    %h2 Users
    %a{:href => "login_user"} Enterprises
    %br/
    %a{:href => "login_client"} Clients
    %br/
    %a{:href => "/enterprises/new"} Enterprises
    %br/
    %a{:href => "/clients/new"} Clients
    %br/