.container
  #name_page
    = render partial: 'categories', collection: @categories
  %h1 Sua Encomenda
  #order
    %h2 Numero do pedido: #{@order.id}
    %h3 Seu pedido foi realizado com sucesso!
    %h3 Enviaremos um email para você e para a(as) empresa(as) com seu pedido.
    %p Total:
    %span.shoe_value= number_to_currency(@order.total)
    = link_to "Continuar comprando", "/"