%h1
  You request
%h2
  Order number: #{@order.id}
%h3
  Your request has been sent successfully
  %li
    We sent an email to you and to the company's footwear
%p
  Total:
  %span.shoe_value= number_to_currency(@order.total)