%h1 Autenticação no sistema
%p#notice= notice
= form_tag "/login" do
  %table{:align => "center"}
  %label{:for => "name"} Login:
  %input#name{:name => "name", :type => "text"}/
  %ul
  %label{:for => "password"} Password:
  %input#password{:name => "password", :type => "password"}/
  %ul
  %input{:type => "submit", :value => "Enter"}/