body
  font-family: arial, verdana, helvetica, sans-serif
  margin: 100
  font-size: 12px
  margin-left: 10px
  margin-right: 10px
  margin-top: 10px

footer
  color: #000
  background: #104E8B
  font-size: 18pt
  font-weight: bold
  text-align: center
  border-width: medium
  border-style: solid
  border-color: #000
  margin-top: 10px

header
  background-color: #000
  border-width: medium
  border-style: solid
  margin-top: 10px
  margin-bottom: 10px
  height: 50px

h1
  background: #104E8B
  font-size: 24pt
  color: #000
  margin-bottom 10px
  margin-top: 7px
  text-align: center         

a
  color: blue
  font-weight: bold
  text-align: justify
  font-size: 10pt
  padding: 0.5em 1em
  text-decoration: none
  text-align: center

span.shoe_value
  color: green
  font-weight: bold
  font-size: 1.5em


table, td
  background: #F5DEB3
  color: black
  font-weight: bold
  border-radius: 10px
  border: 2px solid black
  text-align: center
  text-decoration: none
  padding: 0.2em


table
  width: 100%



th
  background: #FFA500
  color: blue
  font-weight: bold
  border-radius: 10px
  border-color: black
  border: 2px solid black
  padding: 0.2em
  margin-left: 4em
  margin-right: 4em
  text-decoration: none

p, ol, ul, td
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px

#clear
  clear: both

// a.buy_shoe {
// display: block;
// margin: 0;
// margin: 1em 0;
// width: 5em;
// }

// .shoes{margin-right: 20%;
// margin-left: 30%;
// }

// div.menu{text-align: center;
// border-radius:10em;
// background-color: red;
// }

// div.context{position: right;
// text-align:center;
// width: 100%;}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #shoes{
//   font-size: 20pt;
//   text-align: justify;
//   color:red;
// }

// #shoes_rand{
//   float: left;
// }



// #items_shoe{
// float: left;
// width:5%;
// margin-left: 5%;
// margin-top: 7px;
// margin-bottom: 7px;}


// div{text-align: center}

// a.buy_shoe {
// display: block;
// margin: 0;
// margin: 1em 0;
// width: 5em;
// }

// .shoes{margin-right: 20%;
// margin-left: 30%;
// }

.field_with_errors 
  padding: 2px
  background-color: red
  display: table


#error_explanation 
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2 
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    font-size: 15px
    list-style: circle