body {
	margin: 50;
	font-size: 14px;
	background: #E0FFFF;
}

nav, footer {
	background: white;
	color: blue;
}

#mini_shoes {
	list-style-type: none;
	padding: 0;
}

#mini_shoes li {
	display: table-cell;
	padding-right: 7em;
}

#mini_shoes h1 {
	color: maroon;
	margin-bottom: 0;
}

#mini_shoes h2 {
	margin-top: 0;
	font-size: 1em;
}

a.more_shoe_info:visited,
a.buy_shoe:visited {
color: white;
text-align: center;
}

a.more_shoe_info, a.buy_shoe {
background: green;
color: white;
font-weight: bold;

border-radius: 15px;
padding: 0.5em 1em;
margin-left: 3em;
text-decoration: none;
text-align: center;

}

a{
color: blue;
/*font-weight: bold;
text-align: justify;

font-size: 10pt;
border-radius: 15px;
padding: 0.5em 1em;
margin-left: 3em;
text-decoration: none;
text-align: center;*/

}

h4 {
background: red;
color: white;
font-weight: bold;

border-radius: 15px;
padding: 0.5em 1em;
margin-left: 2em;
margin-right: 2em;
text-decoration: none;

}

span.shoe_value {
color: green;
font-weight: bold;
font-size: 1.5em;
}

table, td{
background: #F5DEB3;
color: black;
font-weight: bold;
border-radius: 15px;
border-color: black;
border: 4px solid black;
text-align: center;


padding: 0.5em 0.5em;
margin-left: 4em;
margin-right: 4em;
text-decoration: none;

}

th{
background: #FFA500;
color: blue;
font-weight: bold;
border-radius: 15px;
border-color: black;
border: 4px solid black;

padding: 0.5em 0.5em;
margin-left: 4em;
margin-right: 4em;
text-decoration: none;
}

h1{
	background: orange;
	font-size: 32pt;
	text-align: center;

}

/*div{text-align: center}*/

a.buy_shoe {
display: block;
margin: 0;
margin: 1em 0;
width: 5em;
}