body
  background-color: #f1f1f1
  color: #02314C
  font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif
  font-size: 14px

  header
    height: 152px
    margin: 0 auto
    width: 960px

  footer
    background: #02314c
    border-radius: 3px
    color: #f1f1f1
    font-size: 10pt
    margin: 0 auto
    padding-bottom: 4px
    padding-top: 4px
    position: relative
    text-align: center
    width: 960px

  h1
    background: #f1f1f1
    border-radius: 10px 10pc
    box-shadow: 0.1em 0.1em 0 #5c6241
    color: #02314C
    font-size: 26pt
    margin-right: 10px
    text-align: center

  .container
    background: #fff
    border: 1px solid lightgray
    margin: 0 auto
    position: relative
    width: 960px

  .faixa1
    background: #02314c
    border-radius: 3px
    float: right
    height: 35px
    margin-top: 17px
    position: absolute
    width: 70%
    margin-left: 15%

  #min
    float: center
    font-size: 10px

  #name_page
    background: #02314C
    border-radius: 3px
    color: #fff
    font-size: 14pt
    font-weight: bold
    padding: 8px
    text-align: center
    a
      color: #fff
      font-size: 14pt
      margin-top: 7px
    a:hover
      background-color: #104e8b
      color: #fff

  #menu_top
    background: #fff
    border: 1px solid lightgray
    height: 155px

  #menu_admin
    margin-left: 150px
    margin-top: 30px
    position: absolute

  #text
    margin-left: 17%
    margin-top: 6.4%
    position: relative

  #enter
    margin-left: 20%
    position: absolute

    
  #cart1
    float: right
    margin-left: 78%
    margin-top: 50px
    position: relative

  #cart2
    float: right
    margin-right: 10px
    margin-top: 20px
    position: relative
  
  #logo
    margin-top: 13px
    margin-left: 10px
    position: absolute

  #buttons
    margin-left: 200px
    margin-top: 30px
    position: absolute
    a
      background: #02314C
      border-radius: 12px 10pc
      color: #fff
      font-size: 16px
      margin-left: 15px
    a:hover
      background: #104e8b
      color: #fff

  .login
    float: right
    margin-left: 59%
    margin-top: 30px
    position: relative
    text-decoration: underline
    a
      color: #5c6241
      font-size: 16px
      margin-left: 15px
    a:hover
      background: #f1f1f1
      color: #000

  #search
    color: #1874CD
    font-size: 16pt
    margin-left: 220px
    margin-top: 100px
    position: absolute
    a
      background: #5c6241
      border-radius: 12px 10pc
      color: #fff
      font-size: 16px
      margin-left: 30px
    a:hover
      background: #104e8b
      color: #fff

  #message
    color: #1874CD
    font-size: 16pt
    margin-top: 100px
    text-align: right
    position: relative
    margin-left: 57%
    a
      color: tomato
      font-size: 16pt
    a:hover
      color: red

  nav.pagination
    background: transparent
    color: black
  
  span.current
    font-size: 1.5em

  a
    color: #1874cd
    font-size: 12pt
    padding: 0.5em 1em
    text-align: center
    text-decoration: none
    &:hover
      color: #02314C

  h4
    background: #FF6A6A
    border-radius: 15px
    color: #fff
    float: left
    margin-left: 1em
    padding: 0.2em 3em
    text-align: center
    text-decoration: none

  .submit
    border-radius: 5px
    color: #02314C
    cursor: pointer
    *cursor: hand
    font-size: 16px
    font-weight: italic
    &:hover
      background: #ccc
  
  #center
    float: center
    margin-left: 11%

  .tfield
    border: 1px solid #ccc

  .actions
    border-radius: 5px
    color: #1874CD
    font-size: 16px

  .details 
    margin-top: 660px
    height: 250px

  #names
    background: #FF4500
    font-size: 24pt
    margin-top: 7px
    text-align: center

  #content_all
    margin-left: 14%
    margin-top: 350px
    position: relative
    h1
      text-align: center

  #content_shoe
    margin-left: 210px
    h1
      text-align: center

  .content_shoe_enterprise
    margin-top: 210px
    h1
      text-align: center
      margin-left: 210px

  #releases
    height: 436px
    margin-left: 210px
    position: relative
    h1
      text-align: center

  #searchs
    height: 1000px
    margin-left: 210px
    position: relative

  #bestsellers
    margin-left: 210px
    position: relative
    h1
      text-align: center

  #content_all
    margin-left: 210px
    position: relative
    h1
      text-align: center

  .center_style
    margin: 0 auto
    width: 900px

  .title
    background: #02314c
    color: #fff
    float: center
    font-size: 18px
    margin-top: 10px
    padding-top: 4px
    padding: 4px
    text-align: center

  #menu_left
    border-radius: 12px
    box-shadow: 0.1em 0.1em 0.1em #02314c
    color: #5c6241
    float: left
    height: 750px
    padding: 2px   
    width: 200px 
    a
      color: #02314c
      font-size: 16pt
      text-shadow: 0.1em 0.1em 0.2em white
    a:hover
      color: #1874cd
      text-shadow: 0.1em 0.1em 0.2em white
    li
      list-style-type: none

  #menu2
    margin-top: 10px
    a
      color: #5c6241
      font-size: 14pt
      font-weight: bold
      &.short
        font-size: 12pt

  #enterprise_total
    float: left
    font-size: 16pt
    height: 570px
    margin-left: 200px
    margin-top: 50px
    width: 400px

  #enterprise_total_info
    float: left
    font-size: 16pt
    height: 570px
    margin-left: 20px
    position: absolute
    width: 750px

  #enterprise_details
    font-size: 16pt
    margin-left: 5px

  #enterprise_details_info
    float: right
    font-size: 16pt
    position: relative
    margin-right: 50px

  #enterprise_logo
    float: left
    margin-left: 5px
    position: relative

  #enterprise
    margin-left: 210px
    position: relative

  hr 
    border-radius: 12px
    color: #4682B4

  a
    &.more_shoe_info, &.buy_shoe
      background: green
      border-radius: 12px 10pc
      color: white
      font-size: 16px
      margin-left: 3em
      padding: 0.2em 1em
      text-align: center
      text-decoration: none
      &:hover
        background: #32CD32
        color: #000

  #mini_shoes
    list-style-type: none
    margin-left: 50px
    margin-top: 10px
    h1
      color: maroon
      margin-bottom: 5px
    h2
      float: left
      font-size: 1em
      margin-bottom: 7px
      margin-left: 15px
      margin-top: 7px
      width: 200px

  span.shoe_value
    color: green
    font-size: 1.5em

  table
    background: #fff
    color: black
    font-family: arial
    font-size: 16px
    padding: 2px
    text-align: center
    text-decoration: none
    width: 100%
    margin-top: 20px
    a 
      color: #02314c
    td
      background: #E0EEEE
      border: 0.5px solid #ccc
      color: black
      padding: 0.2em
      text-align: center
      text-decoration: none
    th
      background: #f1f1f1
      border: 1px solid black
      color: #000
      font-size: 12pt
      margin-left: 4em
      margin-right: 4em
      padding: 0.2em
      text-decoration: none

  #shoes
    color: red
    font-size: 16pt
    text-align: justify
    margin-top: 10px

  #details
    margin-bottom: 50px
    margin-left: 55%
    margin-top: 50px

  #form
    margin-bottom: 10px
    margin-left: 40%
    margin-top: 10px
    h3
      color: #000

  #order
    margin-bottom: 10px
    margin-left: 5%
    margin-right: 5%
    margin-top: 10px

  #description
    float: right
    height: 350px
    margin-left: 700px
    position: relative
    width: 350px

  #img
    margin-bottom: 50px
    margin-left: 10%
    position: absolute

  #Form
    margin: 0 auto
    margin-left: 25%
    position: absolute

  #show_details
    color: red
    float: left
    font-size: 16pt
    height: 570px
    margin-left: 200px
    text-align: justify
    width: 430px
    ul
      &:hover
        -webkit-transform: scale(1.1)
        -webkit-transform: traslate(50px,20px)
        border-radius: 15px

  h4.shoes
    color: black
    font-size: 12pt
    margin-left: -500px
    text-align: left

  #shoes_rand
    float: left
    margin-right: 20px
    width: 180px
    &:hover
      background-color: #f1f1f1
      border-radius: 10px

  #notice
    color: red

  #end
    clear: both

  a.buy_shoe
    display: block
    margin: 0
    margin: 1em 0
    width: 5em

  .shoes
    margin-left: 30%
    margin-right: 20%

  .field_with_errors 
    background-color: red
    display: table
    padding: 2px


  #error_explanation 
    background-color: #f0f0f0
    border: 2px solid red
    margin-bottom: 20px
    padding-bottom: 0
    padding: 7px
    width: 450px
    h2 
      background-color: #c00
      color: #fff
      font-size: 12px
      margin-bottom: 0px
      margin: -7px
      padding: 5px 5px 5px 15px
      text-align: left
    ul li
      font-size: 15px
      list-style: circle