body {
	margin: 100;
	font-size: 14px;
  margin-left: 10px;
  margin-right: 10
  px;
  margin-bottom: 50px;
  margin-top: 10px;
}

nav, footer {
	background: white;
	color: blue;
}

#mini_shoes {
	list-style-type: none;
  padding: 0;
}


#mini_shoes h1 {
	color: maroon;
	margin-bottom: 10;
}

#mini_shoes h2 {
	margin-top: 0;
	font-size: 1em;
  float: left;
  width: 200px;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}

a.more_shoe_info:visited,
a.buy_shoe:visited {
color: white;
text-align: center;
}

#enterprise_logo{
  color: green;
  float: left;
  width: 160px;
  margin-left: 5px;
  /*margin-top: 7px;*/
  margin-bottom: 7px;
}

#enterprise_info{
  color: green;
  font-weight: bold;
  font-size: 13pt;
  margin-top: 0;
  float: left;
  width: 250px;
}

#logo{
  float:left;
}

/*#menu_top{
  float:left;
  font-size: 13pt;
  font-weight: bold;
  margin-top: 12px;
  width: 150px;
 /* height: 120px;
  padding: 0;
}*/
/*#menu_sub{
  float:left;
  font-size: 13pt;
  font-weight: bold;
  width: 45%;
}*/

a.more_shoe_info, a.buy_shoe {
background: green;
color: white;
font-weight: bold;

border-radius: 15px;
padding: 0.5em 1em;
margin-left: 3em;
text-decoration: none;
text-align: center;

}

form{text-align: justify;}

/*header{
  text-align:center;
  height:80px;
  font-size:10pt;
  padding-right:110px;
}*/

a{
color: blue;
/*font-weight: bold;
text-align: justify;

font-size: 10pt;
border-radius: 15px;
padding: 0.5em 1em;
margin-left: 3em;
text-decoration: none;
text-align: center;*/

}

h4 {
background: red;
color: white;
font-weight: bold;

border-radius: 15px;
padding: 0.5em 1em;
margin-left: 2em;
margin-right: 2em;
text-decoration: none;

}

span.shoe_value {
color: green;
font-weight: bold;
font-size: 1.5em;
}

/*table, td{
background: #F5DEB3;
color: black;
font-weight: bold;
border-radius: 10px;
border: 2px solid black;
text-align: center;
text-decoration: none;
padding: 0.2em;
}

th{
background: #FFA500;
color: blue;
font-weight: bold;
border-radius: 10px;
border-color: black;
border: 2px solid black;

padding: 0.2em;
margin-left: 4em;
margin-right: 4em;
text-decoration: none;
}
*/
h1{
	background: orange;
	font-size: 36pt;
	text-align: center;

}

#shoes{
  font-size: 20pt;
  text-align: justify;
  color:red;
}

#shoes_rand{
  float: left;
}

#clear {
  clear: both;
}

/*#items_shoe{
    float: left;
    width:5%;
    margin-left: 5%;
    margin-top: 7px;
    margin-bottom: 7px;}*/


/*div{text-align: center}*/

a.buy_shoe {
display: block;
margin: 0;
margin: 1em 0;
width: 5em;
}

.shoes{margin-right: 20%;
margin-left: 30%;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 15px;
    list-style: square;
  }
}