%h1 Lista de categorias
%table
  %tr
    %th Nome
    %th{:colspan => '2'} Opções
  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'Editar', edit_category_path(category)
      %td= link_to 'Apagar', category, method: :delete, data: { confirm: 'Are you sure?' }
%br/
%hr
= link_to 'Nova categoria', new_category_path
%hr