= form_tag :controller => 'publics', :action => 'search', :method => 'get' do
  = text_field_tag :search, params[:search], :id => 'search_field',placeholder: " Procurar",size: "25x14", class: 'tfield'
  = submit_tag "Procurar", :name => nil, class: 'submit'